  
<!-- <link rel="stylesheet" href="index.css"> -->
<!-- css fomts -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<!-- css for para -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<section class="header">
    <div class="navbar">

        <a href="index.html"><img class="navbarimg" src="assets/images/logo.jpg" alt=""></a>

        <p>Jobportal</p>

        
    </div>
    <div class="navcontent">
        <ul>
            <li><a routerLink='/home'>Jobs</a></li>
            <li><a routerLink=''>User Register</a></li>
            <li><a routerLink=''></a></li>
            <li><a routerLink=''>AboutUs</a></li>
            <li *ngIf='isLoggedIn'><a> logout</a></li>
        </ul><br><br>
    </div>
    <div class="spacing"></div>
</section>