
<section class="loginContainer">
    <form (ngSubmit)="login()">
        <div class="form-box">
            <h1>Login Form</h1>
            <input type="email" required autocomplete="off" name="loginEmail" id="loginEmail" [(ngModel)]="loginEmail"placeholder="E-mail"pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <input type="password" required autocomplete="off" name="loginPassword" id="loginPassword"[(ngModel)]="loginPassword"placeholder="password">
            <button type="submit"><a routerLink='../dashboard'>Login</a></button>
           
            
        </div>
    </form>
</section>